<button (click)= "toggleProductsDetails()">Abrir</button>
<p>
  Cantidad de Productos: {{myShoppingCart.length}}
  <br>
  Total: {{total | currency:'USD '}}
  <br>
  Today: {{today | date}}
</p>
  <div class="product--grid">
   <app-product [product]="myProducts"
   *ngFor="let myProducts of myProducts"
   (addProduct)= "addToShoppingCart($event)" (showDetail)= "onShowDetail($event)"
   ></app-product>
  </div>
  <div>
    <div class= "products-details" [class.active]= "showProductsDetails">
      <button (click)= "toggleProductsDetails()">Close</button>
      CONTENIDO AQUÍ..
    </div>
  </div>



