<button (click)= "createProduct()">Crear Producto</button>
<p>
  Cantidad de Productos: {{myShoppingCart.length}}
  <br>
  Total: {{total | currency:'USD '}}
  <br>
  Today: {{today | date}}
</p>

  <!--Renderiza los productos en component-product-->
  <div class="product--grid"> <!--Contenedor-->
                          <!--Recibe del padre-->
   <app-product [product]="myProducts"
   *ngFor="let myProducts of myProducts"
   (addProduct)= "addToShoppingCart($event)" (showProduct)= "onShowDetail($event)"
   ></app-product>
  </div>
    <!--SLIDE DERECHO--MUESTRA LOS DETALLES DEL PRODUCTO POR ID-->
  <div class= "products-details" [class.active]= "showProductsDetails">
    <div *ngIf="productChosen">
      <button (click)= "toggleProductsDetails()">Close</button>
      <button (click)="updateProduct()">Actualizar</button>
      <button (click)= "deleteProduct()">Delete</button>
      <h1>{{productChosen.title}}</h1>
      <p>{{productChosen.description}}</p>
      <swiper [slidesPerView]= "1">
        <ng-template swiperSlide *ngFor="let img of productChosen.images">
          <img [src]="img" alt="">
        </ng-template>
      </swiper>

    </div>
  </div>



